body {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
#principal {
  background-color: white;
  max-width: 50%;
  height: auto;
  padding: 30px 40px;
  box-shadow: 0px 2.5px 1px 1px #47474735;
  border-radius: 10px;
}
.input {
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #c58c55;
  text-align: left;
  margin-bottom: 30px;
  padding: 5px 15px;
}
form {
  display: flex;
  justify-content: space-between;
}
h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1rem;
}
.div-nota {
  position: relative;
  margin-top: 25px;
  max-width: 30%;
}
.div-nota span {
  position: absolute;
  left: 5px;
  top: 8px;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0.5;
}
.div-nota input:focus ~ span,
.div-nota input:valid ~ span {
  transform: translateY(-40px);
  font-size: 15px;
  opacity: 1;
}
.input:focus {
  border: none;
  outline: 2px solid #72a3e8;
  border-radius: 3px;
}
.box {
  min-width: 47.3%;
  justify-content: space-between;
}
.btn {
  border: none;
  padding: 13px 30px;
  background-color: #d3965c;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  float: right;
  border-radius: 50px;
  margin-top: 14px;
}
.btn:hover {
  background-color: #bc7541;
  color: #e7e0dc;
}
.btn:focus {
  outline: 2px solid #2778eb;
}
.btn:active {
  background-color: #72a3e8;
  color: #e4ddff;
}
.situacao {
  display: flex;
  font-size: 1rem;
  width: auto;
  height: auto;
  font-weight: 600;
  border: 1px solid #a4a4a4;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px 40px;
}
.form-exame {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
#nota-exame {
  margin: 0;
}
.calc-exame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span-divisao {
  display: block;
  width: 440px;
  height: 2px;
  margin: 0 auto 25px auto;
  background: rgba(114, 163, 232, 0.719);
  align-items: center;
}
#resultado-exame {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}
